/* Bobber */
.bobber {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    animation: float 2s infinite ease-in-out;
}

.bobber::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 2px;
    height: 10px;
    background: black;
    transform: translateX(-50%);
}

.bobber.hooked {
    animation: shake 0.5s infinite linear;
    background: red;
}

@keyframes float {

    0%,
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }

    50% {
        transform: translate(-50%, -50%) translateY(10px);
    }
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}